.bg-img {
    background-image: url('../img/home-bg.jpg')
}

.about-img {
    background-image: url('../img/about-bg.jpg')
}

.post-img {
    background-image: url('../img/post-bg.jpg')
}

.post-sample-img {
    background-image: url('../img/post-sample-image.jpg')
}

.contact-img {
    background-image: url('../img/contact-bg.jpg')
}
