{% extends 'blog/base.html' %}
{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header about-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-9 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block left %}
{% endblock left %}

{% block main %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div>
            <textarea data-provide="markdown" class="md-input"></textarea>
            </div>
        </div>
    </div>
{% endblock main %}

