{% extends 'blog/base.html' %}
{% block header %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block main %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for article in article_list %}
                <div class="post-preview">
                    <a href="{% url 'blog_post' %}">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ article.abstract }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{ article.author.name }}</a> {{ article.create_time }}</p>
                </div>
                {% empty %}
                <div class="post-preview">
                    暂时还没有发布的文章!
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock main %}

