{% extends 'blog/base.html' %}
{% load tags %}
{% block header %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-9 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block main %}
    <div class="col-lg-7 col-md-9">
    {% for article in pager.object_list %}
        <div class="post-preview">
            <a href="{{ article.get_absolute_url }}">
                <h2 class="post-title">
                    {{ article.title }}
                </h2>
                <h3 class="post-subtitle">
                    {{ article.abstract }}
                </h3>
                <h4 class="post-subtitle">
                    分类: {{ article.category }}
                </h4>

            </a>
            <p class="post-meta">阅读量:{{ article.read_count }},评论数:{{ article.comment_set.count }},Posted by <a href="#">{{ article.author.name }}</a> {{ article.create_time }}</p>
        </div>
    {% empty %}
        <div class="post-preview">
            暂时还没有发布的文章!
        </div>
        <hr>
        {% endfor %}
        <!-- Pager -->
        <ul class="pager">
            {% if pager.has_previous %}
            <li>
                <a href="?page={{ pager.previous_page_number }}">&larr; 上一页 </a>
            </li>
            {% endif %}
            <li>
                <a href="#">{{ pager.number }}/{{ pager.paginator.num_pages }}页</a>
            </li>
            {% if pager.has_next %}
            <li>
                <a href="?page={{ pager.next_page_number }}">下一页 &rarr;</a>
            </li>
            {% endif %}
        </ul>
     </div>
{% endblock main %}

