{% extends 'blog/base.html' %}
{% block header %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
    {% block main %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                        <a href="{{ article.get_absolute_url }}">
                            <h2 class="post-title">
                                {{ article.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ article.abstract }}
                            </h3>
                            <h4 class="post-subtitle">
                                标签:
                                {% for tag in article.tags.all %}
                                {{ tag.name }}
                                {% endfor %}
                            </h4>
                            <h5 class="post-subtitle">
                                分类: xxx
                            </h5>
                        </a>
                        <p class="post-meta">Posted by <a href="#">{{ article.author.name }}</a> {{ article.create_time }}</p>
                <div class="post-meta">
                    {{ article.content|safe }}
                </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock main %}

