{% extends 'blog/base.html' %}
{% block header %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block main %}
<!-- Post Content -->
<div class="col-lg-8 col-md-10">
    <div class="post-preview">
        <a href="{{ article.get_absolute_url }}">
            <h2 class="post-title">
                {{ article.title }}
            </h2>
            <h3 class="post-subtitle">
                {{ article.abstract }}
            </h3>
            <h4 class="post-subtitle">
                标签:
                {% for tag in article.tags.all %}
                {{ tag.name }}
                {% endfor %}
            </h4>
            <h5 class="post-subtitle">
                分类: {{ article.category }}
            </h5>
        </a>
        <p class="post-meta">Posted by <a href="#">{{ article.author.name }}</a> {{ article.create_time }}</p>
        <div class="post-meta">
            {{ article.content|safe }}
        </div>
    </div>
    <!-- Comment List-->
    <div class="row">
        {% for comment in comment_list %}
        <div class="post-preview">
            <div class="post-meta">
                {{ comment.text }}
            </div>
            <span class="post-meta">{{ comment.name }}</span>
            <span>{{ comment.create_time }}</span>
        </div>
        {% empty %}
            暂无评论!
        {% endfor %}
    </div>
    <!-- Post Comment -->
    <div class="row">
        <form class="form-horizontal" action="{% url 'comments:post_comment' article.pk %}" method="post">
        {% csrf_token %}
        <div>
            <label for ="{{ form.name.id_for_label }}">名字:</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div>
            <label for ="{{ form.email.id_for_label }}">邮箱:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div>
            <label for ="{{ form.url.id_for_label }}">URL:</label>
            {{ form.url }}
            {{ form.url.errors }}
        </div>
        <div>
            <label for ="{{ form.text.id_for_label }}">评论:</label>
            {{ form.text }}
            {{ form.text.errors }}
        </div>
        <div>
            <button type="submit" class="comment-btn">发表</button>
        </div>
        </form>
    </div>
</div>
{% endblock main %}

