{% extends 'blog/base.html' %}
{% block header %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-9 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block main %}
<!-- Post Content -->
<div class="col-lg-7 col-md-9">
    <div class="post-preview">
        <div class="post-title">
            {{ article.title|safe }}
        </div>
    </div>
    <div class="post-preview">
        <div class="post-meta">
            {{ article.content|safe }}
        </div>
    </div>
    <!-- Post Comment -->
    <div class="row">
        <form id="comment" class="form-horizontal" action="{% url 'comments:post_comment' article.pk %}" method="post">
        {% csrf_token %}
        <div class="input-group">
        <input type="text" name="text" class="form-control" placeholder="写入评论" aria-describedby="basic-addon2">
        <span style="cursor:pointer;" onclick="javascript:document.forms.comment.submit();"class="input-group-addon" id="basic-addon2">点击发表</span>

        </div>
        </form>
    </div>
    <hr/>
    <!-- Comment List-->
    <div class="row">
        {% for comment in comment_list %}
        <div class="post-preview">
            <div class="post-meta">
                {{ comment.text }}
            </div>
            <span class="post-meta">Posted by {{ comment.author }},</span>
            <span>{{ comment.create_time }}</span>
        </div>
        <hr/>
        {% empty %}
            暂无评论!
        {% endfor %}
    </div>
</div>
{% endblock main %}
{% block catelog %}
<div class="col-lg-2 col-md-2">
    <p><b><center>文章目录:</center></b></p>
  <p>{{ article.toc|safe }}</p>
</div>
{% endblock catelog %}

